<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358179257862-53t3grp5hqgcu1g3v0l3odlcslrdj6vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358179257862-53t3grp5hqgcu1g3v0l3odlcslrdj6vg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>358179257862-pa94e7f9i6g6p5tgmvvhfaobpgddgu66.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8uEYtjlNKa_4hqaNIwPYZd9V7FoJXrso</string>
	<key>GCM_SENDER_ID</key>
	<string>358179257862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayandro.mayandroResume</string>
	<key>PROJECT_ID</key>
	<string>myresume-32d30</string>
	<key>STORAGE_BUCKET</key>
	<string>myresume-32d30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358179257862:ios:32bba1bea049ecd3bc4d87</string>
	<key>DATABASE_URL</key>
	<string>https://myresume-32d30.firebaseio.com</string>
</dict>
</plist>